$default: #8d8d8d;
$accent: #fe3e57;
$title: #29282d;
$bg: #f6f6f6;

%quicksand-400 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

%btn {
  display: inline-flex;
  border: none;
  background-color: $accent;
  text-transform: uppercase;
  box-shadow: 0px 7px 20px 0px rgba(88, 55, 59, 0.3);
  color: #fff;
  padding: 12px 26px;
  cursor: pointer;
  @extend %roboto-400;
}

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}