@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import '../modules/_header/header';
@import '../modules/_top/top';
@import '../modules/_footer/footer';

@media (max-width: 620px){
  .blog-one{
    &__text{
      padding: 20px 10px;
      blockquote{
        padding: 15px;
        font-size: 22px;
      }
    }
    &__info{
      display: block;
    }
    &__author{
      display: block;
    }
    &__author-img{
      margin-right: 0;
      margin-bottom: 10px;
    }
    &__tags{
      margin-bottom: 10px;
    }
  }
  .comments{
    display: block;
    &__avatar{
      margin-bottom: 10px;
      margin-right: 0;
      width: 100px;
      height: 100px;
    }
  }
  .comments-form{
    &__box-input{
      display: block;
    }
    &__text-input{
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 425px){
  .blog-one{
    &__box{
      display: block;
    }
  }
}