.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
npm-debug.*
package-lock.json
app/css/*
dist/
node_modules/
app/images/content/trending-products/shipping.jpg
.gitignore
app/images/content/trending-products/test-bg.jpg
