
.top {
  &__container {
    text-align: center;
    padding: 130px 15px 140px;
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    font-weight: 4000;
  }
}