.header {
  background-color: #fff;
  padding: 40px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 35px;
  }

  &__list-link {
    @extend %roboto-400;
    padding-bottom: 0 2px 1px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    color: $title;
    transition: ease color 0.3s, ease border-bottom 0.3s;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      transition: ease color 0.3s, ease border-bottom 0.3s;
    }
  }

  &__list-link--active {
    font-weight: 700;
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    margin-left: 25px;
  }

  &__link-num {
    position: absolute;
    top: -9px;
    right: -14px;
    min-width: 20px;
    height: 20px;
    padding: 0 2px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    background-color: $accent;
  }
}